header {
    display: flex;
    position: fixed;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    padding-bottom: 5px;
    height: 12vh;
    width: 100%;
    top: 0;
    z-index: 1000;
    box-shadow: 0px 5px 10px gray;
}
#holder{
    height: 12vh;
    width: 100%;
    padding-top: 10px;
    padding-bottom: 5px;
}
#logo {
    font-size: 2em;
    font-weight: bold;
}

#logo img {
    width: 80px;
}

#name {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    color: #53525251;
}
#auth-buttons{
    display: flex;
    height: 100%;
    align-items: center;
    max-height: 10vh;
    margin-right: 30px;
}
#auth-buttons a {
    margin-left: 10px;
    margin-right: 10px;
    padding-left: 10px;
    padding-right: 10px;
    height: 70%;
    border-radius: 5px;
    text-decoration: none;
    font-weight: bold;
    align-content: center;
    transition: all 0.5s;
    text-align: center;
}

a:hover {
    filter: brightness(90%);
}
a:active{
    filter: brightness(80%);
}

#signup-button {
    color: white;
}

.switch {
    display: flex;
    width: 50px;
    height: 50px;
    margin: 10px;
    overflow-x: hidden;
    align-items: center;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.switch img{
    height: 100%;
    width: 100%;
    transform: translateX(-100%);
    border-radius: 50%;
    transition: transform 0.2s ease-in-out;
}
.switch img:hover{
    opacity: 0.8;
}

@media (max-width: 550px){
    header{
        height: 24vh;
        align-items:normal;
    }
    #holder{
        height: 24vh;
    }
    #name{
        top: 10vh;
    }
}